.alert-text {
    color: red;
  }

* {
  background-color: rgb(247, 243, 238);
}

#sham {
  color: yellowgreen;
  font-weight: 900;
}

.subsection.header {
  color: transparent;
}

.subsection#preview {
  color: blue;
}

img {
  height: auto;
  width: 500px;
}